<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon [routerLink]="['dashboard']">favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <span class="material-icons" [routerLink]="['cart']">
      add_shopping_cart
      </span>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <span class="material-icons" [routerLink]="['']">
        home
        </span>
    </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <span class="material-icons" [routerLink]="['langvage']">
      L
      </span>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>
<div id="BG2">
  <div>
      <form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)" class="center">
          <mat-card style="width: 330px;height: 400px;">
              <h2 style="text-align: center;color: red;">LOGIN FORM</h2>
             
        <p style="margin-left: 20px;">
          <mat-form-field appearance="fill" style="width: 236px;">
            <mat-label>EMAIL ID</mat-label>
            <input matInput type="email" placeholder="Email"
            required maxlength="25"
            [(ngModel)]="email" name="email" email="true" ngModel
            #userEmail="ngModel" >
            <mat-hint> <div *ngIf="!userEmail.valid && userEmail.touched">
              EMAIL ID is required!
            </div></mat-hint>
          </mat-form-field>
        </p>
        
              <p style="margin-left: 20px;">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input  matInput [type]="hide ? 'password' : 'text'" placeholder="Password" required
                  [(ngModel)]="password" name="password" minlength="8"
                  #userPassword="ngModel">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint>
                        <div *ngIf="!userPassword.valid && userPassword.touched">
                            Password is required!
                          </div>
                      </mat-hint>
                  </mat-form-field>
              </p>
              <button  mat-raised-button color="primary" type="submit"  style="margin-left: 20px;width: 80%;">
                LOGIN</button>
                <mat-card-content style="text-align: center;margin: 20px;">
                  <a>New To Libraray ? </a> <a routerLink="/registration" routerLinkActive="active">Create New Account</a>
               </mat-card-content>
        </mat-card>
        </form>
      </div>
  </div>


  
