#BG2 {    
    width: 100%;
    height: 100%;
    background: url('../../assets/images/IPHONE.jpg') no-repeat center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
background-attachment: fixed;
    
} 
.login{
    color:white;
    text-align: center;
 
}

mat-form-field {
    margin-right: 12px;
  }
  
.center {
    display: flex;
    height: 650px;
    justify-content: center;
    align-items: center;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .example-spacer {
    flex: 1 1 auto;
  }