<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon [routerLink]="['dashboard']">favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <span class="material-icons" [routerLink]="['cart']">
      add_shopping_cart
      </span>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <span class="material-icons" [routerLink]="['']">
        home
        </span>
    </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <span class="material-icons" [routerLink]="['langvage']">
      L
      </span>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<div id="sect1">
       
    <div>
      <form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)" class="center">
          <mat-card style="width: 300px;height: 620px;">
              <h2 style="text-align: center;color: red;">REGISTRATION FORM</h2>
        
              <mat-form-field appearance="legacy" style="width: 236px;">
                  <mat-label>USER NAME</mat-label>
                <input matInput type="text" placeholder="User name"
                 required maxlength="25"
                 [(ngModel)]="nickName" name="nickName"
                 #pickedName="ngModel">
                <mat-hint> <div *ngIf="!pickedName.valid && pickedName.touched">
                  User name is required!
                </div></mat-hint>
              </mat-form-field>
          

              <mat-form-field appearance="legacy" style="width: 236px;">
                <mat-label>LAST NAME</mat-label>
                <input matInput type="text" placeholder="Last Name"
                required maxlength="25"
                [(ngModel)]="lastname" name="lastname"
                #pickedlastname="ngModel">
                <mat-hint> <div *ngIf="!pickedlastname.valid && pickedlastname.touched">
                  last name is required!
                </div></mat-hint>
              </mat-form-field>
          
  
            
              <mat-form-field appearance="legacy" style="width: 236px;">
                <mat-label>EMAIL ID</mat-label>
                <input matInput type="email" placeholder="Email"
                required maxlength="25"
                [(ngModel)]="email" name="email" email="true" ngModel
                #userEmail="ngModel">
                <mat-hint> <div *ngIf="!userEmail.valid && userEmail.touched">
                  EMAIL ID is required!
                </div></mat-hint>
              </mat-form-field>
           
  
              <mat-form-field appearance="legacy" style="width: 236px;">
                  <mat-label>Enter your password</mat-label>
                  <input  matInput [type]="hide ? 'password' : 'text'" placeholder="Password" required
                [(ngModel)]="password" name="password" minlength="8"
                #userPassword="ngModel">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-hint>
                      <div *ngIf="!userPassword.valid && userPassword.touched">
                          Password is required!
                        </div>
                    </mat-hint>
                </mat-form-field>
    

              <mat-form-field appearance="legacy" style="width: 236px;">
                  <mat-label>Confirm your password</mat-label>
                  <input  matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm Password" required
                [(ngModel)]="confirmpassword" name="confirmpassword" minlength="8"
                #confirmuserPassword="ngModel">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-hint>
                      <div *ngIf="!confirmuserPassword.valid && confirmuserPassword.touched">
                          Confirm Password is required!
                        </div>
                    </mat-hint>
                </mat-form-field>
   
         
            <button  mat-raised-button color="primary" type="submit"  style="margin-left: 20px;width: 94px;">
              Register</button>
        
          <button mat-flat-button color="primary" (click)="newUserForm.reset()" style="margin-left: 45px;width: 94px;">
            Reset
          </button>
          <mat-card-content style="text-align: center;margin: 20px;">
            <a>Alredy Registrated ? </a> <a routerLink="/login" routerLinkActive="active">LOGIN HERE</a>
         </mat-card-content>
      </mat-card>
        </form>
      </div>
  
      </div> 