<mat-card class="item-card">
  <img mat-card-image class="imgs" [src]="productItem.image" [alt]="productItem.imageAlt" />
  <mat-card-content class="item-content">
    <mat-card-title>{{ productItem.name }}</mat-card-title>
    <mat-card-subtitle
      >{{ productItem.category.substring(0, 25) }}...</mat-card-subtitle
    >
    <div>
      <p class="price-details-container">
        <b>{{ productItem.sellingPrice | currency: "INR":true }}</b>

        <span
          *ngIf="productItem.MRPPrice !== 0"
          style="text-decoration: line-through;"
        >
          {{ productItem.MRPPrice | currency: "INR":true }}
        </span>
        <b *ngIf="productItem.MRPPrice !== 0" style="color: forestgreen;"
          >{{
            productItem.sellingPrice / productItem.MRPPrice | percent
          }}
          off</b
        >
      </p>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>

  <mat-card-actions class="card-button-container">
    <a href="#">
      <mat-icon title="Add to Wishlist">favorite </mat-icon>
    </a>

    <a href="#">
      <mat-icon title="Description"> visibility</mat-icon>
    </a>

    <button mat-raised-button color="primary" (click)="addToCart(productItem)">
      <mat-icon>shopping_cart</mat-icon>ADD TO CART
    </button>
  </mat-card-actions>
</mat-card>
