
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <span class="material-icons" [routerLink]="['cart']">
      add_shopping_cart
      </span>
  </button>
</mat-toolbar>

<div class="sort">
  <span
    ><strong>Sort By </strong>

    <mat-form-field>
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selectedProperty">
        <mat-option>None</mat-option>
        <mat-option value="{{ dropDownOption.option1 }}"
          >Price low to high</mat-option
        >
        <mat-option value="{{ dropDownOption.option2 }}"
          >Price high to low</mat-option
        >
        <mat-option value="{{ dropDownOption.option3 }}"
          >Alphabetically</mat-option
        >
      </mat-select>
    </mat-form-field>
  </span>
  <button mat-raised-button (click)="sortOrder()">Sort</button>
</div>
<div class="container">
  <div class="row">
    <ng-container
      *ngFor="let i = index; let product; of: products | paginate: config"
    >
      <div class="col s12 m4 l3">
        <item-card [productItem]="product"></item-card>
      </div>
    </ng-container>

    <pagination-controls
      class="paginator"
      (pageChange)="pageChanged($event)"
    ></pagination-controls>
  </div>
</div>
